<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//sliew.cn//DTD Mapper 1.0//EN"
        "http://sliew.cn/dtd/rtomde-1-mapper.dtd">

<mapper namespace="org.apache.ibatis.domain.blog.mappers.PostMapper">

    <resultMap id="mutablePostLiteMap" type="org.apache.ibatis.domain.blog.PostLite">
        <result property="blogId" column="blog_id"/>
    </resultMap>

    <query id="selectPostLite" resultMap="postLiteMap">
      select id, blog_id from post where blog_id is not null
    </query>

    <query id="selectPostLite2NestedWithSelect" resultMap="postLiteMap2NestedWithSelect">
      select id, 1 as blog_id from post where blog_id is not null
    </query>

    <query id="selectPostLite2NestedWithoutSelect" resultMap="postLiteMap2NestedWithoutSelect">
      select id, 1 as blog_id from post where blog_id is not null
    </query>

    <query id="selectPostLiteId" resultMap="postLiteIdMap">
        select ${id} as id from (values(0)) as t
    </query>

    <query id="selectMutablePostLite" resultMap="mutablePostLiteMap">
      select id, blog_id from post where blog_id is not null
    </query>

    <fragment id="byBlogId">
        <if test="blog_id != null">${prefix}_id = #{blog_id}</if>
    </fragment>

    <query id="findPost" resultMap="mutablePostLiteMap">
        SELECT *
        FROM POST P
        <where>
            <choose>
                <when test="id != null">id = #{id}</when>
                <when test="author_id != null">AND author_id = #{author_id}</when>
                <otherwise>
                    <if test="ids != null">
                        AND id IN
                        <foreach item="item_id" index="index" open="(" close=")" separator="," collection="ids">#{ids[${index}]}
                        </foreach>
                    </if>
                    <trim prefix="AND">
                        <include refid="byBlogId">
                            <property name="prefix" value="blog"/>
                        </include>
                    </trim>
                </otherwise>
            </choose>
        </where>
    </query>
</mapper>